# Generell ignoreringsregel
*

# Tillat git å spore gitignore og dokumentasjon
!.gitignore
!README.md
!LICENSE

# Tillat git å spore kildekode
!*.go
!go.sum
!go.mod
!*.svg
!*.jpg
!*.c
!*.java
!*.h
!*.rs
!*.sh
!*.py
!*.cs

# Ignorer bruker-spesifikke og systemfiler
/AppData/
/Local Settings/
/NTUSER.*
